.with-background {
	color: var(--white-color);
	padding: calc(0.5 * var(--spacing1));
	border-radius: 5px;
	font-weight: 800;
}

.blue-background {
  background-color: var(--button-blue);
}

.link-text {
	position: relative;
	top: calc(0.25 * var(--spacing1));
	color: var(--medium-light-gray);
}